@import "tailwindcss";


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typing 4s steps(15, end);
  width: 0;
  cursor:none;
}

.repeat {
  animation: typing 4s steps(var(--steps), end);
}
